﻿@model BarKick.Models.BartenderDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Confirm</title>
</head>
<body>
    <div>
        <h2>Are you sure you want to delete this bartender?</h2>
        <p>Name: @Model.FirstName @Model.LastName</p>
        <form action="/Bartender/Delete/@Model.BartenderId" method="POST">
            <input class="btn btn-danger" type="submit" value="Confirm Delete" />
        </form>
        <div class="mt-4">
            <a href="/Bartender/Details/@Model.BartenderId">Cancel</a>
        </div>
    </div>
</body>
</html>