﻿@model BarKick.Models.BartenderDto
@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Bartender</title>
</head>
<body>
    <div>
        <h2>Update Bartender</h2>
        <form action="/Bartender/Update/@Model.BartenderId" method="POST">
            <div style="display:none;">
                <input type="text" name="BartenderId" value="@Model.BartenderId" />
            </div>
            <div class="m-2">
                <label>First Name:</label> <input type="text" name="FirstName" value="@Model.FirstName" />
            </div>
            <div class="m-2">
                <label>Last Name:</label> <input type="text" name="LastName" value="@Model.LastName" />
            </div>
            <div class="m-2">
                <label>Email:</label> <input type="email" name="Email" value="@Model.Email" />
            </div>
            <div>
                <input class="m-2 btn btn-primary" type="submit" value="Update Bartender" />
            </div>
        </form>
        <div>
            <a href="/Bartender/List">Back to List</a> |
            <a href="/Bartender/DeleteConfirm/@Model.BartenderId">Delete</a>
        </div>
    </div>
</body>
</html>