﻿@model BarKick.Models.ViewModels.DetailsBartender﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create a Bartender</title>
</head>
<body>
    <h1>Create a Bartender</h1>
    <form action="/Bartender/Create" method="POST">
        <div>
            <label>First Name:</label> <input type="text" name="FirstName" />
        </div>
        <div>
            <label>Last Name:</label> <input type="text" name="LastName" />
        </div>
        <div>
            <label>Email:</label> <input type="text" name="Email" />
        </div>
        <div>
            <label for="VenueIDInput">Select Venue:</label>
            <select id="VenueIDInput" name="VenueID" required>
                <option disabled selected hidden>--Select-Venue--</option>
                @foreach (var venue in Model.VenueBartenders)
                {
                    <option value="@venue.VenueID">@venue.Venue.VenueName (@venue.Venue.VenueLocation)</option>
                }
            </select>
        </div>
        <div>
            <input type="submit" value="Create Bartender" />

        </div>
    </form>
</body>
</html>