################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BarKick/FileContentIndex/4a680920-412c-423b-8592-75f60c086f5f.vsidx
