﻿@model BarKick.Models.VenueDto

@{
    ViewBag.Title = "Delete Venue";
}

<h2>Are you sure you want to delete this venue?</h2>
<p>Name: @Model.VenueName, @Model.VenueLocation</p>

<form action="/Venue/Delete/@Model.VenueID" method="POST">
    <input class="btn btn-danger" type="submit" value="Delete" />
</form>
<div class="mt-4">
    <a class="m-2" href="/Venue/Details/@Model.VenueID">Cancel</a>
</div>