﻿@model BarKick.Models.VenueDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Venue</h2>

<form action="/Venue/Update/@Model.VenueID" method="POST">
    <input type="hidden" name="VenueID" value="@Model.VenueID" />
    <div class="m-2">
        <label>Name: </label><input type="text" name="VenueName" value="@Model.VenueName" />
    </div>
    <div class="m-2">
        <label>Location: </label><input type="text" name="VenueLocation" value="@Model.VenueLocation" />
    </div>
    <div>
        <input class="m-2 btn btn-primary" type="submit" value="Update Venue" />
    </div>
</form>
<div>
    <a href="/Venue/List">Back to List</a> |
    <a href="/Venue/DeleteConfirm/@Model.VenueID">Delete</a>
</div>