﻿@model List<BarKick.Models.VenueDto>

@{
    ViewBag.Title = "List";
}

<h2>List of Venues</h2>
<a class="btn-success btn mb-2" href="/Venue/New">Add a New Venue</a>

@if (Model.Any())
{
    <div class="list-group">
        @foreach (var venue in Model)
        {
            <a href="/Venue/Details/@venue.VenueID">@venue.VenueName</a>
        }
    </div>
}
else
{
    <p>No bartenders found.</p>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p>@ViewBag.ErrorMessage</p>
}