@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Welcome to BarKick!</h1>
    <div>
        <a class="btn btn-outline-primary" href="~/cocktail/list">Cocktails</a>
        <a class="btn btn-outline-primary" href="~/bartender/list">Bartenders</a>
        <a class="btn btn-outline-primary" href="~/venue/list">Venues</a>
        <a class="btn btn-outline-primary" href="~/team/list">Teams</a>
        <a class="btn btn-outline-primary" href="~/player/list">Players</a>
    </div>
</main>