@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Welcome to BarKick!</h1>
    <a href="~/cocktail/list">Cocktails</a>
    <a href="~/bartender/list">Bartenders</a>
    <a href="~/venue/list">Venues</a>
    <a href="~/team/list">Teams</a>
    <a href="~/player/list">Players</a>
</main>