@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Welcome to BarKick!</h1>
    <p>BarKick is an ASP.net managment application that allows users to manage football teams, players, venues, the bartenders working at those venues, and the cocktails they create. Browse through the categories below to explore!</p>
    <div>
        <a class="btn btn-outline-primary" href="~/cocktail/list">Cocktails</a>
        <a class="btn btn-outline-primary" href="~/bartender/list">Bartenders</a>
        <a class="btn btn-outline-primary" href="~/venue/list">Venues</a>
        <a class="btn btn-outline-primary" href="~/team/list">Teams</a>
        <a class="btn btn-outline-primary" href="~/player/list">Players</a>
    </div>
</main>