﻿@model BarKick.Models.PlayerDto


@{
    ViewBag.Title = "Details";
}
<h2>@Model.PlayerName</h2>
<a class="btn btn-primary" href="~/Player/Edit/@Model.PlayerID">Update Player</a>
<a class="btn btn-danger" href="~/Player/DeleteConfirm/@Model.PlayerID">Delete Player</a>
<a class="btn btn-secondary" href="~/Player/List"> Return to Player List</a>

<div>Position: @Model.PlayerPosition</div>
<div>Team: @Model.TeamName</div>