﻿@model IEnumerable<BarKick.Models.PlayerDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Players</h2>
<a class="btn-success btn mb-2" href="/Player/New">Add a New Player</a>
<div>
    @foreach (var player in Model)
    {
        <div><a href="/Player/Details/@player.PlayerID">@player.PlayerName</a></div>

    }
</div>