
@{
    ViewBag.Title = "Create";
}

<h2>Create Player</h2>
<form action="/Player/Create" method="POST">
    <div class="m-2">
        <label>Name: </label><input type="text" name="PlayerName" />
    </div>
    <div class="m-2">
        <label>Position: </label><input type="text" name="PlayerPosition" />
    </div>
    <div class="m-2">
        <label>Team: </label>
        <select name="TeamID">
            @foreach (var team in ViewBag.Teams as List<BarKick.Models.Team>)
            {
                <option value="@team.TeamID">@team.TeamName</option>
            }
        </select>
    </div>
    <div>
        <input class="m-2 btn btn-success" type="submit" value="Add Player" />
    </div>
</form>
<div>
    <a href="/Player/List">Back to List</a>
</div>