﻿
@{
    ViewBag.Title = "Create";
}


<h2>Create Team</h2>
<form action="/Team/Create" method="POST">
    <div class="m-2">
        <label>Name: </label><input type="text" name="TeamName" required/>
    </div>
    <div class="m-2">
        <label>Bio: </label><textarea name="TeamBio" required></textarea>
    </div>
    <div>
        <input class="m-2 btn btn-success" type="submit" value="Add Team" />
    </div>
</form>
<div>
    <a href="/Team/List">Back to List</a>
</div>