﻿@model BarKick.Models.TeamDto

@{
    ViewBag.Title = "Delete Teams";
}


<h2>Are you sure you want to delete this team?</h2>
<p>Name: @Model.TeamName</p>

    <form action="/Team/Delete/@Model.TeamID" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete" />
    </form>
    <div class="mt-4">
        <a class="m-2" href="/Team/Details/@Model.TeamID">Cancel</a>
    </div>