﻿@model BarKick.Models.TeamDto

@{
    ViewBag.Title = "Details";
}
<h2>@Model.TeamName</h2>

<a class="btn btn-primary" href="~/Team/Edit/@Model.TeamID">Update Team</a>
<a class="btn btn-danger" href="~/Team/DeleteConfirm/@Model.TeamID">Delete Team</a>
<a class="btn btn-secondary" href="~/Team/List"> Return to Team List</a>

<div>Team Bio: @Model.TeamBio</div>