﻿@model IEnumerable<BarKick.Models.TeamDto>

@{
    ViewBag.Title = "List";
}


<h2>List of Teams</h2>
<a class="btn-success btn mb-2" href="/Team/Create">Add a New Team</a>
@foreach (var team in Model)
{
    <div><a href="/Team/Details/@team.TeamID">@team.TeamName</a></div>
}